Guideline =  Control Flow and Loops:
* Apply if-else statements to solve logical problems.
* Use for and while loops to iterate through sequences.
* Implement break and continue statements to control loop execution

Control Flow and Loops - What It MEANS

Purpose:
Learn to make decisions and repeat actions in your code.

What Each Part Means:
1.if-else statements = Make decisions based on conditions

"IF this is true, do this, ELSE do that"
Example: If age ≥ 18 → "Adult", else → "Minor"

2.for and while loops = Repeat actions automatically

for loop = Go through items one by one (known count)
while loop = Keep repeating until condition becomes false (unknown count)
Example: Check every student's grade, keep asking for password until correct

3.break and continue = Control what happens inside loops

break = Stop the loop completely and exit
continue = Skip this round, move to next iteration
Example: Stop searching when item found (break), skip even numbers (continue)


Real-World Analogy:
if-else: Traffic light - IF green go, ELSE stop
for loop: Check each item in shopping cart one by one
while loop: Keep trying password until correct
break: Found what you need? Stop searching
continue: Skip broken items, check next one

Why Important:
Without control flow and loops, code runs only once, top to bottom. With them, code can:

Make smart choices ✓
Repeat tasks efficiently ✓
Handle different situatuation

In [1]:
#  1: Install and Set Up Python


# Check Python is installed
# Run in terminal/command prompt: python --version
# Expected output: Python 3.x.x

print("Python is set up and ready!")

Python is set up and ready!

In [2]:
# 1.2: Use print() Function


# Basic print
print("Hello, World!")

# Print multiple items
print("Name:", "Alice", "Age:", 25)

# Print with formatting
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old")

Hello, World!
Name: Alice Age: 25
My name is John and I am 30 years old

In [3]:
# 1.3: Use input() Function


# Get user input
name = input("Enter your name: ")
print("Hello,", name)
# Example:
# Enter your name: Alice
# Hello, Alice

# Get number input (convert from string)
age = int(input("Enter your age: "))
print("You are", age, "years old")
# Example:
# Enter your age: 25
# You are 25 years old

Enter your name: shirlly
Hello, shirlly
Enter your age: 37
You are 37 years old

In [4]:
# 1.4: Assign Values to Variables


# Assign different values
x = 10
y = 20
name = "Alice"
is_student = True

print("x:", x)
print("y:", y)
print("name:", name)
print("is_student:", is_student)


# Multiple assignment
a, b, c = 5, 10, 15
print("a:", a, "b:", b, "c:", c)

x: 10
y: 20
name: Alice
is_student: True
a: 5 b: 10 c: 15

In [5]:
# 1.5: Explore Different Data Types
# Integer
age = 25
print("Integer:", age, "Type:", type(age))

# Float
price = 19.99
print("Float:", price, "Type:", type(price))

# String
name = "Alice"
print("String:", name, "Type:", type(name))

# Boolean
is_active = True
print("Boolean:", is_active, "Type:", type(is_active))

# List
colors = ["red", "green", "blue"]
print("List:", colors, "Type:", type(colors))

# Tuple
coordinates = (10, 20)
print("Tuple:", coordinates, "Type:", type(coordinates))

# Dictionary
person = {"name": "John", "age": 30}
print("Dictionary:", person, "Type:", type(person))

# Set
unique_nums = {1, 2, 3}
print("Set:", unique_nums, "Type:", type(unique_nums))

Integer: 25 Type: <class 'int'>
Float: 19.99 Type: <class 'float'>
String: Alice Type: <class 'str'>
Boolean: True Type: <class 'bool'>
List: ['red', 'green', 'blue'] Type: <class 'list'>
Tuple: (10, 20) Type: <class 'tuple'>
Dictionary: {'name': 'John', 'age': 30} Type: <class 'dict'>
Set: {1, 2, 3} Type: <class 'set'>

In [6]:
# 1.6: Type Conversion


# String to Integer
str_num = "100"
int_num = int(str_num)
print("Converted to int:", int_num, type(int_num))

# Integer to String
num = 50
str_num = str(num)
print("Converted to str:", str_num, type(str_num))

# Float to Integer
float_num = 9.8
int_num = int(float_num)
print("Converted to int:", int_num)

Converted to int: 100 <class 'int'>
Converted to str: 50 <class 'str'>
Converted to int: 9

In [7]:
# 2. List Operations:
# 2. 1: Create a List


my_list = [10, 20, 30, 40, 50]
print("Original list:", my_list)

Original list: [10, 20, 30, 40, 50]

In [8]:
# 2.2: append() - Add to End


my_list.append(60)
print("After append(60):", my_list)

my_list.append(70)
print("After append(70):", my_list)

After append(60): [10, 20, 30, 40, 50, 60]
After append(70): [10, 20, 30, 40, 50, 60, 70]

In [9]:
# 2.3: remove() - Remove Specific Value



my_list.remove(30)
print("After remove(30):", my_list)

my_list.remove(60)
print("After remove(60):", my_list)

After remove(30): [10, 20, 40, 50, 60, 70]
After remove(60): [10, 20, 40, 50, 70]

In [10]:
#  1.4: pop() - Remove by Index


# Pop last element (no index)
removed = my_list.pop()
print("Popped:", removed)
print("After pop():", my_list)
# After pop(): [10, 20, 40, 50]

# Pop specific index
removed = my_list.pop(1)
print("Popped at index 1:", removed)
print("After pop(1):", my_list)

Popped: 70
After pop(): [10, 20, 40, 50]
Popped at index 1: 20
After pop(1): [10, 40, 50]

In [11]:
# 1.5: Slicing - Extract Portions


numbers = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# Get first 5
print("First 5:", numbers[:5])

# Get last 3
print("Last 3:", numbers[-3:])

# Get middle section (index 3 to 7)
print("Middle:", numbers[3:8])

# Get every 2nd element
print("Every 2nd:", numbers[::2])

# Get from index 2 to end
print("From index 2:", numbers[2:])

First 5: [0, 10, 20, 30, 40]
Last 3: [70, 80, 90]
Middle: [30, 40, 50, 60, 70]
Every 2nd: [0, 20, 40, 60, 80]
From index 2: [20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
# 1.6: Iterate Using for Loop


fruits = ["apple", "banana", "cherry", "date"]

print("Using for loop:")
for fruit in fruits:
    print(fruit)

Using for loop:
apple
banana
cherry
date

In [13]:
# 7: Iterate with Index Using enumerate()


print("\nWith index using enumerate:")
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

With index using enumerate:
Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: date

In [15]:
# 1.8: Iterate with range()


print("\nUsing range and len:")
for i in range(len(fruits)):
    print(f"Position {i}: {fruits[i]}")

Using range and len:
Position 0: apple
Position 1: banana
Position 2: cherry
Position 3: date

In [16]:
# 9: Complete Example - All Operations


# Create
shopping_list = ["milk", "eggs", "bread"]
print("Original:", shopping_list)

# Add items
shopping_list.append("butter")
shopping_list.append("cheese")
print("After adding:", shopping_list)

# Remove specific item
shopping_list.remove("eggs")
print("After removing eggs:", shopping_list)

# Remove last item
shopping_list.pop()
print("After pop:", shopping_list)

# Slice - get first 2
print("First 2 items:", shopping_list[:2])

# Iterate
print("\nFinal shopping list:")
for item in shopping_list:
    print(f"- {item}")

Original: ['milk', 'eggs', 'bread']
After adding: ['milk', 'eggs', 'bread', 'butter', 'cheese']
After removing eggs: ['milk', 'bread', 'butter', 'cheese']
After pop: ['milk', 'bread', 'butter']
First 2 items: ['milk', 'bread']

Final shopping list:
- milk
- bread
- butter

In [17]:
# 3: Tuple Operations
# 3.1: Create a Tuple

my_tuple = (10, 20, 30, 40, 50)
print("Original tuple:", my_tuple)

# Single element tuple (needs comma)
single_tuple = (100,)
print("Single element tuple:", single_tuple)

Original tuple: (10, 20, 30, 40, 50)
Single element tuple: (100,)

In [18]:
# 3.2: Access Tuple Elements

# Access by positive index
print("First element:", my_tuple[0])

print("Third element:", my_tuple[2])

print("Last element:", my_tuple[4])

# Access by negative index
print("Last element (-1):", my_tuple[-1])

print("Second last (-2):", my_tuple[-2])

First element: 10
Third element: 30
Last element: 50
Last element (-1): 50
Second last (-2): 40

In [19]:
# 3.3: Slicing Tuples


numbers = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

# First 4 elements
print("First 4:", numbers[:4])

# Last 3 elements
print("Last 3:", numbers[-3:])

# Middle section (index 3 to 6)
print("Middle:", numbers[3:7])

# Every 2nd element
print("Every 2nd:", numbers[::2])

First 4: (0, 10, 20, 30)
Last 3: (70, 80, 90)
Middle: (30, 40, 50, 60)
Every 2nd: (0, 20, 40, 60, 80)

In [20]:
# 3.4: Understand Immutability

coords = (10, 20, 30)
print("Original tuple:", coords)

# Cannot modify tuple elements
# This will cause ERROR:
# coords[0] = 15  # TypeError: 'tuple' object does not support item assignment

print("Tuples are IMMUTABLE - cannot change after creation")

# Cannot add elements
# coords.append(40)  # AttributeError: 'tuple' object has no attribute 'append'

# Cannot remove elements
# coords.remove(20)  # AttributeError: 'tuple' object has no attribute 'remove'

# To "change" a tuple, create a new one
new_coords = (15, 20, 30)
print("New tuple:", new_coords)

Original tuple: (10, 20, 30)
Tuples are IMMUTABLE - cannot change after creation
New tuple: (15, 20, 30)

In [21]:
# 3.5: Tuple Unpacking

# Basic unpacking
person = ("Alice", 25, "Engineer")
name, age, job = person

print("Name:", name)

print("Age:", age)

print("Job:", job)

Name: Alice
Age: 25
Job: Engineer

In [22]:
 # 3.6: Unpacking with * (Rest)


 # Unpack with asterisk
numbers = (1, 2, 3, 4, 5, 6)

first, second, *rest = numbers
print("First:", first)

print("Second:", second)

print("Rest:", rest)

# Unpack first and last, ignore middle
first, *middle, last = numbers
print("First:", first)
print("Middle:", middle)
print("Last:", last)

First: 1
Second: 2
Rest: [3, 4, 5, 6]
First: 1
Middle: [2, 3, 4, 5]
Last: 6

In [23]:
# 3.7: Swap Values Using Tuples


a = 10
b = 20
print("Before swap - a:", a, "b:", b)

# Swap using tuple unpacking
a, b = b, a
print("After swap - a:", a, "b:", b)

Before swap - a: 10 b: 20
After swap - a: 20 b: 10

In [24]:
# 8: Tuple Methods

data = (10, 20, 30, 20, 40, 20)

# count() - count occurrences
count_20 = data.count(20)
print("Count of 20:", count_20)

# index() - find first occurrence
index_30 = data.index(30)
print("Index of 30:", index_30)

# Length
print("Length:", len(data))

Count of 20: 3
Index of 30: 2
Length: 6

In [25]:
# 9: Iterate Over Tuple


colors = ("red", "green", "blue", "yellow")

print("Using for loop:")
for color in colors:
    print(color)

print("\nWith index:")
for i in range(len(colors)):
    print(f"Index {i}: {colors[i]}")

Using for loop:
red
green
blue
yellow

With index:
Index 0: red
Index 1: green
Index 2: blue
Index 3: yellow

In [26]:
# 10: Complete Example - All Operations

# Create
student = ("John", 22, "Computer Science", "A")
print("Student tuple:", student)

# Access
print("Name:", student[0])
print("Age:", student[1])

# Slice
print("First 2:", student[:2])

# Unpack
name, age, course, grade = student
print(f"{name} is {age} years old, studying {course}, grade: {grade}")

# Iterate
print("\nStudent details:")
labels = ["Name", "Age", "Course", "Grade"]
for i, value in enumerate(student):
    print(f"{labels[i]}: {value}")

Student tuple: ('John', 22, 'Computer Science', 'A')
Name: John
Age: 22
First 2: ('John', 22)
John is 22 years old, studying Computer Science, grade: A

Student details:
Name: John
Age: 22
Course: Computer Science
Grade: A

 Created sets
 Understood uniqueness (automatic duplicate removal)
 Performed union (|) - all elements
 Performed intersection (&) - common elements
 Performed difference (-) - in A not in B
 Added/Removed elements
 Iterat

In [1]:
# 1: Set Operations
# 1.1: Create a Set


# Create a set
my_set = {10, 20, 30, 40, 50}
print("Original set:", my_set)

# Create empty set (must use set(), not {})
empty_set = set()
print("Empty set:", empty_set)

Original set: {50, 20, 40, 10, 30}
Empty set: set()

In [2]:
# 1.2: Understand Uniqueness Property


# Sets automatically remove duplicates
duplicate_set = {1, 2, 3, 2, 4, 3, 5, 1, 2}
print("Set with duplicates:", duplicate_set)

# Create set from list (removes duplicates)
my_list = [1, 2, 2, 3, 3, 4, 4, 5]
unique_set = set(my_list)
print("List:", my_list)
print("Set (duplicates removed):", unique_set)
# Output:
# List: [1, 2, 2, 3, 3, 4, 4, 5]

# Demonstrating uniqueness
numbers = {5, 5, 5, 10, 10, 15}
print("Repeated numbers become unique:", numbers)

Set with duplicates: {1, 2, 3, 4, 5}
List: [1, 2, 2, 3, 3, 4, 4, 5]
Set (duplicates removed): {1, 2, 3, 4, 5}
Repeated numbers become unique: {10, 5, 15}

In [3]:
#  1.3: Adding Elements


fruits = {"apple", "banana"}
print("Original:", fruits)

# Add single element
fruits.add("cherry")
print("After add('cherry'):", fruits)

# Adding duplicate (no change)
fruits.add("apple")
print("After add('apple') duplicate:", fruits)

# Add multiple elements using update()
fruits.update(["orange", "mango"])
print("After update:", fruits)

Original: {'banana', 'apple'}
After add('cherry'): {'banana', 'cherry', 'apple'}
After add('apple') duplicate: {'banana', 'cherry', 'apple'}
After update: {'cherry', 'apple', 'orange', 'banana', 'mango'}

In [4]:
# 1.4: Removing Elements


colors = {"red", "green", "blue", "yellow"}
print("Original:", colors)

# remove() - raises error if not found
colors.remove("blue")
print("After remove('blue'):", colors)

# discard() - no error if not found
colors.discard("purple")  # purple not in set
print("After discard('purple'):", colors)

# pop() - removes random element
removed = colors.pop()
print("Popped:", removed)
print("After pop:", colors)

Original: {'red', 'yellow', 'green', 'blue'}
After remove('blue'): {'red', 'yellow', 'green'}
After discard('purple'): {'red', 'yellow', 'green'}
Popped: red
After pop: {'yellow', 'green'}

In [7]:
#  1.5: Union - Combine Sets


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Using | operator
union_result = set_a | set_b
print("Union (|):", union_result)

# Using union() method
union_result2 = set_a.union(set_b)
print("Union (method):", union_result2)
set_c = {7, 8} # Corrected variable name from _c to set_c
union_all = set_a | set_b | set_c
print("Union of 3 sets:", union_all)

# Union with multiple sets

Union (|): {1, 2, 3, 4, 5, 6}
Union (method): {1, 2, 3, 4, 5, 6}
Union of 3 sets: {1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# 1.6: Intersection - Common Elements


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Using & operator
intersection_result = set_a & set_b
print("Intersection (&):", intersection_result)

# Using intersection() method
intersection_result2 = set_a.intersection(set_b)
print("Intersection (method):", intersection_result2)

# Intersection with multiple sets
set_c = {3, 7, 8}
intersection_all = set_a & set_b & set_c
print("Intersection of 3 sets:", intersection_all)

Intersection (&): {3, 4}
Intersection (method): {3, 4}
Intersection of 3 sets: {3}

In [9]:
# 7: Difference - Elements in A but not B

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Using - operator
difference_a = set_a - set_b
print("Difference (A - B):", difference_a)

difference_b = set_b - set_a
print("Difference (B - A):", difference_b)

# Using difference() method
diff_result = set_a.difference(set_b)
print("Difference (method):", diff_result)

Difference (A - B): {1, 2}
Difference (B - A): {5, 6}
Difference (method): {1, 2}

In [10]:
# 1.8: Symmetric Difference - Either but not Both


set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Using ^ operator
sym_diff = set_a ^ set_b
print("Symmetric Difference (^):", sym_diff)

# Using symmetric_difference() method
sym_diff2 = set_a.symmetric_difference(set_b)
print("Symmetric Difference (method):", sym_diff2)

Symmetric Difference (^): {1, 2, 5, 6}
Symmetric Difference (method): {1, 2, 5, 6}

In [11]:
#  1.9: Set Relationships


set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
set_c = {6, 7, 8}

# Subset - all elements in another set
print("Is B subset of A?", set_b.issubset(set_a))

# Superset - contains all elements of another set
print("Is A superset of B?", set_a.issuperset(set_b))

# Disjoint - no common elements
print("Are A and C disjoint?", set_a.isdisjoint(set_c))

Is B subset of A? True
Is A superset of B? True
Are A and C disjoint? True

In [13]:
# 10: Iterate Through Set

languages = {"Python", "Java", "JavaScript", "C++"}

print("Iterating over set:")
for lang in languages:
    print(lang)

# With enumeration
print("\nWith index:")
for i, lang in enumerate(languages, 1):
    print(f"Index {i}: {lang}") # Added a print statement to complete the loop

Iterating over set:
Python
Java
C++
JavaScript

With index:
Index 1: Python
Index 2: Java
Index 3: C++
Index 4: JavaScript

In [14]:
# 11: Complete Example - All Operations

# Create sets
online_students = {"Alice", "Bob", "Charlie", "Diana"}
offline_students = {"Charlie", "Diana", "Eve", "Frank"}

print("Online:", online_students)
print("Offline:", offline_students)

# Union - all students
all_students = online_students | offline_students
print("\nAll students (Union):", all_students)
# Output: {'Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'}

# Intersection - students in both
both_modes = online_students & offline_students
print("Students in both modes (Intersection):", both_modes)
# Output: {'Charlie', 'Diana'}

# Difference - only online
only_online = online_students - offline_students
print("Only online students (Difference):", only_online)
# Output: {'Alice', 'Bob'}

# Only offline
only_offline = offline_students - online_students
print("Only offline students (Difference):", only_offline)

# Symmetric difference - exclusive to one mode
exclusive_students = online_students ^ offline_students
print("Exclusive to one mode (Symmetric Diff):", exclusive_students)

# Add new student
all_students.add("Grace")
print("\nAfter adding Grace:", all_students)

# Remove duplicates from list
scores = [85, 90, 85, 78, 90, 92, 78]
unique_scores = set(scores)
print("\nOriginal scores:", scores)
print("Unique scores:", unique_scores)

Online: {'Charlie', 'Alice', 'Diana', 'Bob'}
Offline: {'Eve', 'Charlie', 'Diana', 'Frank'}

All students (Union): {'Frank', 'Alice', 'Eve', 'Charlie', 'Diana', 'Bob'}
Students in both modes (Intersection): {'Charlie', 'Diana'}
Only online students (Difference): {'Alice', 'Bob'}
Only offline students (Difference): {'Eve', 'Frank'}
Exclusive to one mode (Symmetric Diff): {'Frank', 'Alice', 'Eve', 'Bob'}

After adding Grace: {'Frank', 'Alice', 'Eve', 'Charlie', 'Grace', 'Diana', 'Bob'}

Original scores: [85, 90, 85, 78, 90, 92, 78]
Unique scores: {90, 92, 85, 78}

 Conditional Statements
 Implemented basic if-else statements
 Used if-elif-else for multiple conditions
 Applied AND, OR, NOT operators
 Created nested if-else for complex logic
 Solved

In [15]:
# 1: Basic if Statement

# Simple if
age = 20

if age >= 18:
    print("You are an adult")

# if with False condition
temperature = 15

if temperature > 30:
    print("It's hot")

You are an adult

In [16]:
# 1. 2: if-else Statement

# Basic if-else
age = 16

if age >= 18:
    print("You can vote")
else:
    print("You cannot vote yet")

# Another example
score = 55

if score >= 50:
    print("Pass")
else:
    print("Fail")

You cannot vote yet
Pass

In [17]:
# 1.3: if-elif-else Statement

# Multiple conditions
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

# Another example
day = 3

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
else:
    print("Weekend")

Grade: C
Wednesday

In [18]:
#  1.4: Multiple Conditions - AND Operator


# Both conditions must be True
username = "admin"
password = "1234"

if username == "admin" and password == "1234":
    print("Login successful")
else:
    print("Invalid credentials")

# Example with numbers
age = 25
has_id = True

if age >= 18 and has_id:
    print("Entry allowed")
else:
    print("Entry denied")

Login successful
Entry allowed

In [19]:
# 1.5: Multiple Conditions - OR Operator

# At least one condition must be True
day = "Saturday"

if day == "Saturday" or day == "Sunday":
    print("It's the weekend!")
else:
    print("It's a weekday")

# Example with numbers
score = 85

if score >= 90 or score < 60:
    print("Requires attention")
else:
    print("Normal performance")

It's the weekend!
Normal performance

In [20]:
#  1.6: NOT Operator

# Reverse the condition
is_raining = False

if not is_raining:
    print("You don't need an umbrella")
else:
    print("Take an umbrella")

# Another example
logged_in = False

if not logged_in:
    print("Please log in")

You don't need an umbrella
Please log in

In [21]:
# 1. 7: Nested if-else (Simple)


# if inside if
age = 25
has_license = True

if age >= 18:
    if has_license:
        print("You can drive")
    else:
        print("You need a driving license")
else:
    print("You are too young to drive")

You can drive

In [22]:
# 1.8: Nested if-else (Complex Logic)


# Multiple levels of nesting
age = 30
income = 60000
credit_score = 720

if age >= 18:
    if income >= 50000:
        if credit_score >= 700:
            print("Loan approved - Premium interest rate")
        elif credit_score >= 650:
            print("Loan approved - Standard interest rate")
        else:
            print("Loan approved - High interest rate")
    else:
        print("Income requirement not met")
else:
    print("Age requirement not met")

Loan approved - Premium interest rate

In [23]:
# 1.9: Nested if-else with Multiple Conditions

# Student grading system
attendance = 85
exam_score = 78
assignment_score = 90

if attendance >= 75:
    print("Attendance requirement met")

    if exam_score >= 80 and assignment_score >= 80:
        print("Grade: A")
    elif exam_score >= 70 and assignment_score >= 70:
        print("Grade: B")
    elif exam_score >= 60 and assignment_score >= 60:
        print("Grade: C")
    else:
        print("Grade: D")
else:
    print("Insufficient attendance - No grade awarded")

Attendance requirement met
Grade: B

In [24]:
#  10: Complex Decision-Making Example

# Online shopping discount calculator
purchase_amount = 5000
is_member = True
coupon_code = "SAVE20"

print(f"Purchase amount: ${purchase_amount}")

if purchase_amount >= 1000:
    if is_member:
        if coupon_code == "SAVE20":
            discount = 0.20  # 20% member + coupon
            print("Member + Coupon: 20% discount")
        else:
            discount = 0.10  # 10% member only
            print("Member: 10% discount")
    else:
        if coupon_code == "SAVE20":
            discount = 0.15  # 15% coupon only
            print("Coupon: 15% discount")
        else:
            discount = 0.05  # 5% standard
            print("Standard: 5% discount")
else:
    discount = 0
    print("No discount (minimum $1000 required)")

final_amount = purchase_amount * (1 - discount)
print(f"Final amount: ${final_amount}")

Purchase amount: $5000
Member + Coupon: 20% discount
Final amount: $4000.0

In [25]:
# 12: Real-World Application - BMI Calculator

# BMI health category
weight = 70  # kg
height = 1.75  # meters

bmi = weight / (height ** 2)
print(f"BMI: {bmi:.2f}")

if bmi < 18.5:
    print("Category: Underweight")
    if bmi < 16:
        print("Severity: Severe")
    else:
        print("Severity: Mild")
elif bmi < 25:
    print("Category: Normal weight")
    print("Keep up the good work!")
elif bmi < 30:
    print("Category: Overweight")
    print("Consider healthy lifestyle changes")
else:
    print("Category: Obese")
    if bmi >= 35:
        print("Severity: Severe - Consult a doctor")
    else:
        print("Severity: Moderate")
#

BMI: 22.86
Category: Normal weight
Keep up the good work!

In [26]:
#  13: Complete Example - All Concepts

# Employee salary calculator
employee_name = "Alice"
years_of_service = 6
performance_rating = "Excellent"
department = "Sales"

print(f"Employee: {employee_name}")
print(f"Years of service: {years_of_service}")
print(f"Performance: {performance_rating}")
print(f"Department: {department}")

# Base salary calculation
if years_of_service >= 10:
    base_salary = 80000
elif years_of_service >= 5:
    base_salary = 60000
elif years_of_service >= 2:
    base_salary = 45000
else:
    base_salary = 35000

print(f"Base salary: ${base_salary}")

# Performance bonus
if performance_rating == "Excellent":
    bonus_percentage = 0.15
elif performance_rating == "Good":
    bonus_percentage = 0.10
elif performance_rating == "Average":
    bonus_percentage = 0.05
else:
    bonus_percentage = 0

# Department allowance
if department == "Sales" or department == "Marketing":
    allowance = 5000
elif department == "IT" or department == "Engineering":
    allowance = 7000
else:
    allowance = 3000

# Calculate total
bonus = base_salary * bonus_percentage
total_salary = base_salary + bonus + allowance

print(f"Performance bonus ({bonus_percentage*100}%): ${bonus}")
print(f"Department allowance: ${allowance}")
print(f"Total salary: ${total_salary}")

Employee: Alice
Years of service: 6
Performance: Excellent
Department: Sales
Base salary: $60000
Performance bonus (15.0%): $9000.0
Department allowance: $5000
Total salary: $74000.0

Looping Constructs
 Used for loops to iterate over lists, tuples, dictionaries
 Used while loops for repeating tasks
 Implemented break to exit loops
 Implemented continue to skip iterations
 Combined all concepts in real-world examples

In [27]:
# 1: For Loop - Iterate Over List

# Basic for loop with list
fruits = ["apple", "banana", "cherry", "date"]

print("Fruits:")
for fruit in fruits:
    print(fruit)

# With index using enumerate()
print("\nWith index:")
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")
#
# Using range and len
print("\nUsing range:")
for i in range(len(fruits)):
    print(f"Position {i}: {fruits[i]}")

Fruits:
apple
banana
cherry
date

With index:
0: apple
1: banana
2: cherry
3: date

Using range:
Position 0: apple
Position 1: banana
Position 2: cherry
Position 3: date

In [28]:
# 1.2: For Loop - Iterate Over Tuple

# Iterate over tuple
coordinates = (10, 20, 30, 40, 50)

print("Coordinates:")
for coord in coordinates:
    print(coord)

# Process tuple elements
print("\nDoubled values:")
for value in coordinates:
    print(value * 2)

Coordinates:
10
20
30
40
50

Doubled values:
20
40
60
80
100

In [29]:
#  1.3: For Loop - Iterate Over Dictionary


student = {"name": "Alice", "age": 22, "grade": "A", "city": "Lagos"}

# Iterate over keys
print("Keys:")
for key in student:
    print(key)

# Iterate over values
print("\nValues:")
for value in student.values():
    print(value)

# Iterate over key-value pairs
print("\nKey-Value pairs:")
for key, value in student.items():
    print(f"{key}: {value}")

Keys:
name
age
grade
city

Values:
Alice
22
A
Lagos

Key-Value pairs:
name: Alice
age: 22
grade: A
city: Lagos

In [30]:
# 1.4: For Loop - Using range()

# Basic range
print("Numbers 0 to 4:")
for i in range(5):
    print(i, end=" ")
print()

# Range with start and stop
print("\nNumbers 2 to 8:")
for i in range(2, 9):
    print(i, end=" ")
print()

# Range with step
print("\nEven numbers 0 to 10:")
for i in range(0, 11, 2):
    print(i, end=" ")
print()

# Reverse range
print("\nCountdown:")
for i in range(5, 0, -1):
    print(i, end=" ")
print("Blast off!")

Numbers 0 to 4:
0 1 2 3 4

Numbers 2 to 8:
2 3 4 5 6 7 8

Even numbers 0 to 10:
0 2 4 6 8 10

Countdown:
5 4 3 2 1 Blast off!

In [31]:
 # 1.5: While Loop - Basic
# Basic while loop
count = 1

print("Counting to 5:")
while count <= 5:
    print(count)
    count += 1

# Countdown
print("\nCountdown:")
num = 5
while num > 0:
    print(num)
    num -= 1
print("Done!")

Counting to 5:
1
2
3
4
5

Countdown:
5
4
3
2
1
Done!

In [32]:
1# .6: While Loop - Repeating Tasks


# Build a list using while
numbers = []
i = 1

while i <= 5:
    numbers.append(i * 10)
    i += 1

print("Numbers:", numbers)

# Sum calculation
total = 0
num = 1

while num <= 10:
    total += num
    num += 1

print(f"Sum of 1 to 10: {total}")

Numbers: [10, 20, 30, 40, 50]
Sum of 1 to 10: 55

In [33]:
# 1.7: While Loop - User Input (Simulated)

# Password validator (simulated)
password = ""
attempts = 0
max_attempts = 3

while password != "python123" and attempts < max_attempts:
    # Simulating user input
    if attempts == 0:
        password = "wrong1"
    elif attempts == 1:
        password = "wrong2"
    else:
        password = "python123"

    attempts += 1

    if password != "python123":
        print(f"Wrong password. Attempts left: {max_attempts - attempts}")
    else:
        print("Access granted!")

Wrong password. Attempts left: 2
Wrong password. Attempts left: 1
Access granted!

In [34]:
#  1.8: break Statement - Exit Loop

# break in for loop
print("Search for number 30:")
numbers = [10, 20, 30, 40, 50, 60]

for num in numbers:
    if num == 30:
        print(f"Found {num}! Stopping search.")
        break
    print(num)

# break in while loop
print("\nStop at count 3:")
count = 0
while True:
    print(count)
    count += 1
    if count == 3:
        break

Search for number 30:
10
20
Found 30! Stopping search.

Stop at count 3:
0
1
2

In [35]:
# 1.9: continue Statement - Skip Iteration

# continue in for loop - skip even numbers
print("Odd numbers only:")
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=" ")
print()

# continue in while loop
print("\nSkip multiples of 3:")
count = 0
while count < 10:
    count += 1
    if count % 3 == 0:
        continue
    print(count, end=" ")
print()

Odd numbers only:
1 3 5 7 9

Skip multiples of 3:
1 2 4 5 7 8 10

In [36]:
# 10: Combining break and continue

# Find first 5 odd numbers greater than 10
numbers = []
i = 0

while len(numbers) < 5:
    i += 1

    if i <= 10:
        continue  # Skip numbers <= 10

    if i % 2 == 0:
        continue  # Skip even numbers

    numbers.append(i)

    if len(numbers) == 5:
        break

print("First 5 odd numbers > 10:", numbers)

First 5 odd numbers > 10: [11, 13, 15, 17, 19]

In [37]:
# 11: Nested Loops

# Multiplication table
print("3x3 Multiplication Table:")
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} x {j} = {i*j}", end="\t")
    print()

# Pattern printing
print("\nStar pattern:")
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

3x3 Multiplication Table:
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9

Star pattern:
*
* *
* * *
* * * *
* * * * *

In [38]:
# 12: Loop with else Clause


# else executes if loop completes without break
print("Search in list:")
numbers = [10, 20, 30, 40]
search = 50

for num in numbers:
    if num == search:
        print(f"Found {search}!")
        break
else:
    print(f"{search} not found in list")

# Example with break
search2 = 30
for num in numbers:
    if num == search2:
        print(f"Found {search2}!")
        break
else:
    print(f"{search2} not found")

Search in list:
50 not found in list
Found 30!

In [39]:
# 13: Real-World Example - Shopping Cart

# Shopping cart with budget
cart = []
prices = [25, 15, 40, 30, 10, 50]
budget = 100
total = 0

print(f"Budget: ${budget}")
print("Prices:", prices)

for price in prices:
    # Skip expensive items
    if price > 35:
        print(f"Skipping ${price} (too expensive)")
        continue

    # Check budget limit
    if total + price > budget:
        print(f"Budget limit reached at ${price}")
        break

    cart.append(price)
    total += price
    print(f"Added ${price} to cart. Total: ${total}")

print(f"\nFinal cart: {cart}")
print(f"Total spent: ${total}")
print(f"Remaining budget: ${budget - total}")

Budget: $100
Prices: [25, 15, 40, 30, 10, 50]
Added $25 to cart. Total: $25
Added $15 to cart. Total: $40
Skipping $40 (too expensive)
Added $30 to cart. Total: $70
Added $10 to cart. Total: $80
Skipping $50 (too expensive)

Final cart: [25, 15, 30, 10]
Total spent: $80
Remaining budget: $20

In [40]:
# 14: Complete Example - Inventory Management

# Product inventory system
inventory = {
    "apple": 50,
    "banana": 30,
    "orange": 40,
    "mango": 0,
    "grape": 25
}

print("=== INVENTORY CHECK ===")

# Check stock levels
for product, quantity in inventory.items():
    if quantity == 0:
        print(f"{product}: OUT OF STOCK")
        continue

    if quantity < 20:
        print(f"{product}: LOW STOCK ({quantity} units)")
    elif quantity < 40:
        print(f"{product}: MODERATE ({quantity} units)")
    else:
        print(f"{product}: GOOD STOCK ({quantity} units)")

# Restock needed items
print("\n=== RESTOCK LIST ===")
restock_count = 0

for product, quantity in inventory.items():
    if quantity >= 40:
        continue  # Skip well-stocked items

    needed = 50 - quantity
    print(f"{product}: Order {needed} units")
    restock_count += 1

    if restock_count == 3:
        print("Restock limit reached for today")
        break

# Calculate total inventory
print("\n=== TOTAL INVENTORY ===")
total_items = 0
for quantity in inventory.values():
    total_items += quantity

print(f"Total items in stock: {total_items}")

=== INVENTORY CHECK ===
apple: GOOD STOCK (50 units)
banana: MODERATE (30 units)
orange: GOOD STOCK (40 units)
mango: OUT OF STOCK
grape: MODERATE (25 units)

=== RESTOCK LIST ===
banana: Order 20 units
mango: Order 50 units
grape: Order 25 units
Restock limit reached for today

=== TOTAL INVENTORY ===
Total items in stock: 145

3. Control Flow and Loops:
Apply if-else statements to solve logical problems.
Use for and while loops to iterate through sequences.
Implement break and continue statements to control loop execution.


What Control Flow & Loops MEANS:
Control Flow = Making your code decide and repeat intelligently
if-else = Choose different actions based on conditions

"IF score ≥ 90 THEN grade A, ELSE grade B"

for loop = Go through items one by one (known sequence)

"Check EACH student's grade"

while loop = Keep repeating until condition stops (unknown count)

"Keep asking for password UNTIL correct"

break = Stop the loop immediately and exit

"Found what I need? STOP searching"

continue = Skip this round, move to next

"Broken item? SKIP it, check next"


What Problem-Solving Tasks MEAN:
Task 1: Find Largest = Use loop + if to compare each number
Task 2: Count Frequency = Use dictionary + loop to track how many times each item appears
Task 3: Highest Marks = Use dictionary + loop + if to find best student
Task 4: Fibonacci = Use while loop to generate number sequence (each = sum of previous two)
Task 5: Remove Duplicates = Use set to automatically keep only unique items

Real-World Analogy:
if-else: Traffic light decides - green go, red stop
for loop: Checking items in shopping cart one by one
while loop: Trying ATM PIN until correct
break: Found your keys? Stop searching
continue: Rotten apple? Skip it, check next
Find largest: Finding tallest person in a line
Count frequency: Counting how many red, blue, green marbles
Highest marks: Finding class topper
Fibonacci: Building stairs where each step = sum of previous two
Remove duplicates: Keeping only one of each toy, throwing away copies

Why Important:
Without these skills, you can only write simple, straight-line code.
With them, you can:
Make smart decisions
Automate repetitive tasks
Solve real problems efficiently
Process large amounts of data

In [41]:
# 1: Find the Largest Number in a List

# Create a list
numbers = [45, 78, 12, 89, 34, 67, 23, 91, 56]
print("List of numbers:", numbers)

# Method: Using loop with if-else
largest = numbers[0]  # Assume first is largest

for num in numbers:
    if num > largest:
        largest = num

print(f"The largest number is: {largest}")

# Step-by-step process
print("\nStep-by-step comparison:")
largest = numbers[0]
print(f"Start: largest = {largest}")

for num in numbers[1:]:
    if num > largest:
        print(f"{num} > {largest}, updating largest to {num}")
        largest = num
    else:
        print(f"{num} <= {largest}, no change")

print(f"Final largest: {largest}")

List of numbers: [45, 78, 12, 89, 34, 67, 23, 91, 56]
The largest number is: 91

Step-by-step comparison:
Start: largest = 45
78 > 45, updating largest to 78
12 <= 78, no change
89 > 78, updating largest to 89
34 <= 89, no change
67 <= 89, no change
23 <= 89, no change
91 > 89, updating largest to 91
56 <= 91, no change
Final largest: 91

In [42]:
# 1.2: Count Frequency of Elements in a List


# Create list with duplicates
elements = [1, 2, 3, 2, 4, 1, 5, 2, 3, 1, 4, 2, 6, 1]
print("List:", elements)

# Count frequency using dictionary and loops
frequency = {}

for element in elements:
    if element in frequency:
        frequency[element] += 1  # Increment count
    else:
        frequency[element] = 1   # Initialize count

print("\nFrequency count:")
for element, count in frequency.items():
    print(f"{element} appears {count} time(s)")


# Find most frequent element
print("\nFinding most frequent element:")
most_frequent = None
max_count = 0

for element, count in frequency.items():
    if count > max_count:
        max_count = count
        most_frequent = element

print(f"Most frequent element: {most_frequent} (appears {max_count} times)")

List: [1, 2, 3, 2, 4, 1, 5, 2, 3, 1, 4, 2, 6, 1]

Frequency count:
1 appears 4 time(s)
2 appears 4 time(s)
3 appears 2 time(s)
4 appears 2 time(s)
5 appears 1 time(s)
6 appears 1 time(s)

Finding most frequent element:
Most frequent element: 1 (appears 4 times)

In [43]:
# 1.3: Dictionary - Student with Highest Marks

# Create dictionary
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 95,
    "Eve": 88,
    "Frank": 91
}

print("Students and Marks:")
for name, marks in students.items():
    print(f"{name}: {marks}")

# Find student with highest marks using if-else
top_student = None
highest_marks = 0

for name, marks in students.items():
    if marks > highest_marks:
        highest_marks = marks
        top_student = name

print(f"\nTop Student: {top_student}")
print(f"Highest Marks: {highest_marks}")


# Find all students above 85
print("\nStudents with marks > 85:")
for name, marks in students.items():
    if marks > 85:
        print(f"{name}: {marks}")
    else:
        continue  # Skip students with marks <= 85

Students and Marks:
Alice: 85
Bob: 92
Charlie: 78
Diana: 95
Eve: 88
Frank: 91

Top Student: Diana
Highest Marks: 95

Students with marks > 85:
Bob: 92
Diana: 95
Eve: 88
Frank: 91

In [44]:
# 1.4: Fibonacci Series Using While Loop

# Print Fibonacci series up to a given number
limit = 100
print(f"Fibonacci series up to {limit}:")

# Initialize
a = 0
b = 1

# Print first number
print(a, end=" ")

# While loop to generate series
while b <= limit:
    print(b, end=" ")

    # Update values
    a, b = b, a + b

print()


# Detailed version with explanation
print("\nDetailed Fibonacci generation:")
limit2 = 50
a = 0
b = 1
count = 0

print(f"Term {count}: {a}")
count += 1

while b <= limit2:
    print(f"Term {count}: {b}")
    temp = a + b
    a = b
    b = temp
    count += 1


# Generate first N Fibonacci numbers
print("\nFirst 10 Fibonacci numbers:")
n = 10
a = 0
b = 1
count = 0

while count < n:
    if count == 0:
        print(a, end=" ")
    elif count == 1:
        print(b, end=" ")
    else:
        a, b = b, a + b
        print(b, end=" ")
    count += 1

print()

Fibonacci series up to 100:
0 1 1 2 3 5 8 13 21 34 55 89

Detailed Fibonacci generation:
Term 0: 0
Term 1: 1
Term 2: 1
Term 3: 2
Term 4: 3
Term 5: 5
Term 6: 8
Term 7: 13
Term 8: 21
Term 9: 34

First 10 Fibonacci numbers:
0 1 1 2 3 5 8 13 21 34

In [45]:
#  1.5: Remove Duplicates Using Set


# Create list with duplicates
original_list = [1, 2, 3, 2, 4, 1, 5, 3, 6, 4, 2, 7, 1, 8, 5]
print("Original list:", original_list)
print("Original length:", len(original_list))

# Remove duplicates using set
unique_list = list(set(original_list))
print("\nAfter removing duplicates:", unique_list)
print("New length:", len(unique_list))

# Show duplicates that were removed
duplicates_removed = len(original_list) - len(unique_list)
print(f"Duplicates removed: {duplicates_removed}")

# Using loop to show process
print("\nStep-by-step duplicate removal:")
seen = set()
result = []

for item in original_list:
    if item not in seen:
        seen.add(item)
        result.append(item)
        print(f"Added {item} (first occurrence)")
    else:
        print(f"Skipped {item} (duplicate)")

print("Final result:", result)

Original list: [1, 2, 3, 2, 4, 1, 5, 3, 6, 4, 2, 7, 1, 8, 5]
Original length: 15

After removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8]
New length: 8
Duplicates removed: 7

Step-by-step duplicate removal:
Added 1 (first occurrence)
Added 2 (first occurrence)
Added 3 (first occurrence)
Skipped 2 (duplicate)
Added 4 (first occurrence)
Skipped 1 (duplicate)
Added 5 (first occurrence)
Skipped 3 (duplicate)
Added 6 (first occurrence)
Skipped 4 (duplicate)
Skipped 2 (duplicate)
Added 7 (first occurrence)
Skipped 1 (duplicate)
Added 8 (first occurrence)
Skipped 5 (duplicate)
Final result: [1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
# Complete Integration - All Tasks Combined

print("="*50)
print("PYTHON PROBLEM-SOLVING TASKS")
print("="*50)

# Task 1: Find largest
print("\n--- TASK 1: LARGEST NUMBER ---")
numbers = [23, 56, 12, 89, 45, 67, 34]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print(f"Numbers: {numbers}")
print(f"Largest: {largest}")

# Task 2: Count frequency
print("\n--- TASK 2: FREQUENCY COUNT ---")
items = ['a', 'b', 'c', 'a', 'd', 'b', 'a', 'c']
freq = {}
for item in items:
    if item in freq:
        freq[item] += 1
    else:
        freq[item] = 1
print(f"Items: {items}")
print(f"Frequency: {freq}")

# Task 3: Highest marks
print("\n--- TASK 3: HIGHEST MARKS ---")
students = {"John": 75, "Mary": 92, "Tom": 88}
top = None
high = 0
for name, marks in students.items():
    if marks > high:
        high = marks
        top = name
print(f"Students: {students}")
print(f"Top: {top} with {high} marks")

# Task 4: Fibonacci
print("\n--- TASK 4: FIBONACCI SERIES ---")
limit = 50
a, b = 0, 1
fib = [a]
while b <= limit:
    fib.append(b)
    a, b = b, a + b
print(f"Fibonacci up to {limit}: {fib}")

# Task 5: Remove duplicates
print("\n--- TASK 5: REMOVE DUPLICATES ---")
data = [1, 2, 2, 3, 3, 4, 1, 5]
unique = list(set(data))
print(f"Original: {data}")
print(f"Unique: {unique}")
print(f"Removed {len(data) - len(unique)} duplicates")

print("\n" + "="*50)
print("ALL TASKS COMPLETED!")
print("="*50)

==================================================
PYTHON PROBLEM-SOLVING TASKS
==================================================

--- TASK 1: LARGEST NUMBER ---
Numbers: [23, 56, 12, 89, 45, 67, 34]
Largest: 89

--- TASK 2: FREQUENCY COUNT ---
Items: ['a', 'b', 'c', 'a', 'd', 'b', 'a', 'c']
Frequency: {'a': 3, 'b': 2, 'c': 2, 'd': 1}

--- TASK 3: HIGHEST MARKS ---
Students: {'John': 75, 'Mary': 92, 'Tom': 88}
Top: Mary with 92 marks

--- TASK 4: FIBONACCI SERIES ---
Fibonacci up to 50: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

--- TASK 5: REMOVE DUPLICATES ---
Original: [1, 2, 2, 3, 3, 4, 1, 5]
Unique: [1, 2, 3, 4, 5]
Removed 3 duplicates

==================================================
ALL TASKS COMPLETED!
==================================================

In [47]:
# Advanced Example - All Concepts Combined

# Student grade analyzer with all control flow concepts

students_data = [
    {"name": "Alice", "scores": [85, 90, 88, 92]},
    {"name": "Bob", "scores": [78, 85, 80, 88]},
    {"name": "Charlie", "scores": [92, 95, 90, 94]},
    {"name": "Diana", "scores": [70, 75, 72, 78]},
    {"name": "Eve", "scores": [88, 90, 85, 87]}
]

print("STUDENT GRADE ANALYZER")
print("=" * 40)

# Process each student
student_averages = {}

for student in students_data:
    name = student["name"]
    scores = student["scores"]

    # Calculate average using while loop
    total = 0
    i = 0
    while i < len(scores):
        total += scores[i]
        i += 1

    average = total / len(scores)
    student_averages[name] = average

    # Determine grade using if-else
    if average >= 90:
        grade = "A"
    elif average >= 80:
        grade = "B"
    elif average >= 70:
        grade = "C"
    elif average >= 60:
        grade = "D"
    else:
        grade = "F"

    print(f"{name}: Avg = {average:.2f}, Grade = {grade}")

# Find top student
print("\n" + "=" * 40)
top_student = None
highest_avg = 0

for name, avg in student_averages.items():
    if avg > highest_avg:
        highest_avg = avg
        top_student = name

print(f"Top Student: {top_student} ({highest_avg:.2f})")

# Count grade distribution
print("\n" + "=" * 40)
print("GRADE DISTRIBUTION:")

grade_count = {}
for name, avg in student_averages.items():
    if avg >= 90:
        grade = "A"
    elif avg >= 80:
        grade = "B"
    elif avg >= 70:
        grade = "C"
    else:
        grade = "D/F"

    if grade in grade_count:
        grade_count[grade] += 1
    else:
        grade_count[grade] = 1

for grade, count in grade_count.items():
    print(f"Grade {grade}: {count} student(s)")

print("=" * 40)

STUDENT GRADE ANALYZER
========================================
Alice: Avg = 88.75, Grade = B
Bob: Avg = 82.75, Grade = B
Charlie: Avg = 92.75, Grade = A
Diana: Avg = 73.75, Grade = C
Eve: Avg = 87.50, Grade = B

========================================
Top Student: Charlie (92.75)

========================================
GRADE DISTRIBUTION:
Grade B: 3 student(s)
Grade A: 1 student(s)
Grade C: 1 student(s)
========================================